h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.modal-form-check, .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.section-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media screen and (min-width: 1200px) {
  .section-list {
    row-gap: 48px;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}

.section-description {
  color: #434455;
}

.page-header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}
.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 120px;
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 76px;
  }
}

.logo {
  padding-bottom: 24px;
}

.menu-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover, .menu-link:focus {
  color: #404bbf;
}

.menu-link.current {
  color: #404bbf;
}
.menu-link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 12px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    gap: 40px;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }
}

.contact-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contact-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.contact-link:hover, .contact-link:focus {
  color: #404bbf;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .mobile-menu-open {
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    border: none;
    background-color: transparent;
    line-height: 0;
  }
  .mobile-menu-icon {
    display: block;
    stroke: currentColor;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 35px;
  }
  .mobile-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-close-btn:hover, .mobile-close-btn:focus {
    background-color: #4d5ae5;
  }
  .icon-modal-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover .icon-modal-close, .modal-close-btn:focus .icon-modal-close {
    fill: #ffffff;
  }
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-link:hover, .mobile-menu-link:focus {
    color: #404bbf;
  }
  .mobile-menu-link.current {
    color: #404bbf;
  }
  .mobile-wraper-lists-media {
    max-width: 100%;
  }
  .mobile-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 48px;
    gap: 40px;
  }
  .contact-link-tel {
    display: block;
    max-width: 100%;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #4d5ae5;
  }
}
@media screen and (max-width: 767px) and (max-width: 479px) {
  .contact-link-tel {
    font-size: 28px;
    white-space: nowrap;
  }
}
@media screen and (max-width: 767px) {
  .contact-link-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #434455;
  }
}
@media screen and (max-width: 767px) {
  .mobile-contact-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-contact-link:hover, .mobile-contact-link:focus {
    color: #404bbf;
  }
}
@media screen and (max-width: 767px) {
  .mobile-list-icon-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .mobile-link-icon-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-link-icon-social:hover, .mobile-link-icon-social:focus {
    background-color: #404bbf;
  }
}
@media screen and (max-width: 767px) {
  .icon-social {
    width: 24px;
    height: 24px;
  }
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-top: 24px;
  padding-bottom: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}

.hero {
  max-width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2e2f42;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/hero/people-office-mob@1x.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/hero/people-office-mob@2x.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/hero/people-office-mob@2x.webp");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/hero/people-office-tab@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/hero/people-office-tab@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/hero/people-office-tab@2x.webp");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/hero/people-office-des@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/hero/people-office-des@2x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../../images/hero/people-office-des@2x.webp");
  }
}
.hero-container {
  padding: 112px 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero-container {
    padding: 188px 0;
  }
}

.main-title {
  width: 100%;
  max-width: 320px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .main-title {
    max-width: 496px;
    margin-bottom: 36px;
    text-transform: none;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    margin-bottom: 48px;
  }
}

.modal-btn {
  padding: 16px 32px;
  gap: 10px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) {
  .section-skills .section-subtitle {
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .section-skills .section-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
  }
}

.skill-content {
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .skill-content {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .skill-content {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.icon-skill-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .icon-skill-container {
    display: none;
  }
}

.icon-skill {
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 1199px) {
  .section-doing {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-doing {
    padding-top: 0;
  }
}

.doing-card {
  flex-basis: calc((100% - 48px) / 3);
}

.section-team {
  background-color: #f4f4fd;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .section-team .section-list {
    row-gap: 64px;
  }
}

.item-team-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .item-team-card {
    flex-basis: calc((100% - 48px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .item-team-card {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.team-card-content {
  padding: 32px 16px;
  text-align: center;
}

.list-icon-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.link-icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon-social:hover, .link-icon-social:focus {
  background-color: #404bbf;
}

.icon-social {
  width: 16px;
  height: 16px;
}

.list-customers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media screen and (min-width: 768px) {
  .list-customers {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .list-customers {
    row-gap: 48px;
  }
}

.item-icon-client {
  flex-basis: calc((100% - 16px) / 2);
}
@media screen and (min-width: 768px) {
  .item-icon-client {
    max-width: 168px;
    flex-basis: calc((100% - 48px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .item-icon-client {
    flex-basis: calc((100% - 120px) / 6);
  }
}

.link-icon-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88px;
  background-color: #ffffff;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon-client:hover, .link-icon-client:focus {
  border-color: #404bbf;
  fill: #404bbf;
  outline: 0.5px solid transparent;
}

.section-works {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .section-works {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .section-works {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.filters-list {
  margin-bottom: 48px;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 16px;
  flex-basis: calc((100% - 48px) / 3);
}
@media screen and (min-width: 768px) {
  .filters-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 64px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .filters-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
    width: 100%;
  }
}

.filter-btn {
  padding: 8px 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .filter-btn {
    padding: 12px 24px;
  }
}
.filter-btn:hover, .filter-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
}

.section-works .section-list {
  row-gap: 48px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media screen and (min-width: 768px) {
  .section-works .section-list {
    justify-content: flex-start;
    row-gap: 72px;
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-works .section-list {
    flex-basis: calc((100% - 48px) / 3);
  }
}

.work-link {
  display: block;
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  box-shadow: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .work-link {
    max-width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .work-link {
    max-width: 360px;
  }
}
.work-link:hover, .work-link:focus {
  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-card-content {
  padding: 32px 16px;
}

.work-carg-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  opacity: 0;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-link:hover .overlay, .work-link:focus .overlay {
  transform: translate(0, 0);
  opacity: 0.8;
}

.footer {
  display: block;
  padding-top: 96px;
  padding-bottom: 96px;
  background: #2e2f42;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-wpaper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wpaper {
    width: 552px;
    flex-basis: calc((100% - 24px) / 2);
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wpaper {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: flex-start;
  }
}

.footer-container-logo {
  max-width: 268px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .footer-container-logo {
    max-width: 264px;
    justify-content: flex-start;
  }
}

.footer .logo {
  display: inline-block;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.footer .logo-studio {
  color: #f4f4fd;
}

.footer .section-description {
  color: #e7e9fc;
}

.footer-container-social {
  max-width: 208px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .footer-container-social {
    justify-content: flex-start;
    align-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container-social {
    margin-left: 120px;
  }
}

.subtitle-social {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.footer .list-icon-social {
  gap: 16px;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .footer .list-icon-social {
    justify-content: space-between;
  }
}

.footer .link-icon-social {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .link-icon-social:hover, .footer .link-icon-social:focus {
  background-color: #31d0aa;
}

.footer .icon-social {
  width: 24px;
  height: 24px;
}

.footer-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .footer-form {
    flex-basis: calc((100% - 24px) / 2);
    gap: 24px;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    justify-content: space-between;
    align-self: flex-start;
    flex-basis: unset;
    margin-left: auto;
    width: unset;
  }
}

.footer-form-input-desk {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-form-input-desk {
    text-align: start;
  }
}

.footer-form-field {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-form-field {
    width: 264px;
  }
}

.footer-form-input {
  padding: 8px 16px;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}
.footer-form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.footer-form-input::-moz-placeholder {
  color: currentColor;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-form-input::placeholder {
  color: currentColor;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-submit {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-submit:hover, .footer-form-submit:focus {
  background-color: #404bbf;
}

.footer-form-btn-icon {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 392px;
  min-height: 586px;
  padding: 72px 16px 24px 16px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  background-color: #4d5ae5;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon, .modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.modal-form-input,
.modal-form-message {
  width: 100%;
  padding: 8px 16px 8px 38px;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-form-message:focus {
  border-color: #4d5ae5;
  outline: 0.5px solid transparent;
}

.modal-form-message {
  height: 120px;
  resize: none;
  padding-left: 16px;
  margin-bottom: 18px;
}
@media screen and (min-width: 1200px) {
  .modal-form-message {
    margin-bottom: 16px;
  }
}
.modal-form-message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-input-container {
  position: relative;
  display: block;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.user-policy-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.modal-form-check-desc {
  position: relative;
  display: block;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-icon-check {
  position: absolute;
  fill: transparent;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #2e2f42;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check:checked + .modal-form-icon-check {
  background-color: #404bbf;
  border: 1px solid 1px solid #f4f4fd;
}

.modal-form-check-link {
  color: #4d5ae5;
}

.modal-form-submit {
  min-width: 169px;
  padding: 16px 32px;
  align-self: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: #404bbf;
}/*# sourceMappingURL=main.css.map */