:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --primary-brand-color: #4d5ae5;
  --pressed-color: #404bbf;

  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --dark-theme-text-color: #ffffff;
  --dark-theme-logo-text-color: #f4f4fd;
  --dark-theme-secondary-text-color: #e7e9fc;
  --work-info-text-color: #f4f4fd;
  --primary-background-color: #ffffff;
  --secondory-backgound-color: #f4f4fd;
  --dark-background-color: #2e2f42;
  --border-header-color: 1px solid #e7e9fc;
  --border-icon-client-color: #8e8f99;
  --footer-icon-pressed-color: #31d0aa;
  --border-work-link-pressed-color: 1px solid #f4f4fd;
  --border-work-link-default-color: 1px solid #e7e9fc;
  --border-close-modal-btn: 1px solid rgba(0, 0, 0, 0.1);
  --close-modal-background-color: #e7e9fc;
}
/* Скидаэм зовнiшнi вiдступи, та.iн. стилi браузера */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  /* color: inherit; */
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* нижнэ пiдкреслення при наведеннi
.link:hover, */
/* .link:focus { */
/* text-decoration: underline; */
/* } */

/* =================Components================= */

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--dark-theme-text-color);
}

.section-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;

  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--secondary-text-color);
}
.section-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.section-description {
  color: var(--primary-text-color);
}
/* ====================/Components==================== */

/* ===================Header========================== */
.page-header {
  background: var(--primary-background-color);
  border-bottom: var(--border-header-color);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-item + .contact-item {
  margin-left: 40px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;

  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-brand-color);
}

.logo-studio {
  color: var(--secondary-text-color);
}

.menu-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;

  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-color);
}

.menu-link.current {
  color: var(--pressed-color);
}

.menu-link.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--pressed-color);
  border-radius: 2px;
}

.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-color);
}
/* ===========/Header============*/

/* ============Hero============== */

.hero-container {
  padding: 188px 0;
  text-align: center;
}

.main-title {
  width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: var(--dark-background-color);
}

.modal-btn {
  padding: 16px 32px;
  gap: 10px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--dark-theme-text-color);
  background-color: var(--primary-brand-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-color);
}
/* ========================/Hero=================== */

/* =========================Main=================== */
/* Skills */
.skill-content {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.icon-skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--secondory-backgound-color);
  border-radius: 4px;
}

.icon-skill {
  width: 64px;
  height: 64px;
}

/* Doing */
.section-doing {
  padding-top: 0;
}

.doing-card {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

/*  Team */
.section-team {
  background-color: var(--secondory-backgound-color);
  border-radius: 4px;
}

.team-card {
  display: flex;
  flex-basis: calc((100% - 3 * 24px) / 4);

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-background-color);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card-content {
  padding: 32px 16px;
  text-align: center;
}

.list-icon-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.link-icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: var(--primary-brand-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-social:hover,
.link-icon-social:focus {
  background-color: var(--pressed-color);
}
.icon-social {
  width: 16px;
  height: 16px;
}

/* ==============Customers=============*/
.section-customers {
  padding-top: 130px;
}
.list-customers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-icon-client {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 168px;
  height: 88px;

  background-color: var(--primary-background-color);
  border: 1px solid var(--border-icon-client-color);
  border-radius: 4px;
  fill: var(--border-icon-client-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-client:hover,
.link-icon-client:focus {
  border-color: var(--pressed-color);
  fill: var(--pressed-color);
}

/* ================/Main=================== */

/* =================Portfolio==================*/
.section-works {
  padding-top: 96px;
}

.filters-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-item:not(:last-child) {
  margin-right: 24px;
}

.filter-btn {
  padding: 12px 24px;

  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: var(--secondory-backgound-color);
  color: var(--primary-brand-color);

  border: var(--border-work-link-default-color);
  border-radius: 4px;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--pressed-color);
  color: var(--dark-theme-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
}

.work-link {
  display: block;
  position: relative;
  max-width: 360px;

  background-color: var(--primary-background-color);
  border: var(--border-work-link-default-color);
  box-shadow: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover,
.work-link:focus {
  border: var(--border-work-link-pressed-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-card-content {
  padding: 32px 16px;
}
.work-carg-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 40px 32px;

  color: var(--work-info-text-color);
  background-color: var(--primary-brand-color);
  opacity: 0;

  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-link:hover .overlay,
.work-link:focus .overlay {
  transform: translate(0, 0);
  opacity: 0.8;
}

/* ==============/Portfolio==========================*/

/* ================Footer================== */
.footer .container {
  display: flex;
  justify-content: flex-start;
}
.footer-container-logo {
  display: block;
  max-width: 264px;
}
.footer-container-social {
  margin-left: 120px;
}

.subtitle-social {
  margin-bottom: 16px;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-theme-text-color);
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background: var(--dark-background-color);
}
.footer .logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.footer .logo-studio {
  color: var(--dark-theme-logo-text-color);
}

.footer .section-description {
  color: var(--dark-theme-secondary-text-color);
}

.footer .list-icon-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 0;
}

.footer .link-icon-social {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link-icon-social:hover,
.footer .link-icon-social:focus {
  background-color: var(--footer-icon-pressed-color);
}
.footer .icon-social {
  width: 24px;
  height: 24px;
}

.footer-form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: auto;
  align-self: flex-start;
}

.footer-form-input-desk {
  display: block;
  margin-bottom: 16px;

  font-weight: 500;

  color: var(--dark-theme-text-color);
}
.footer-form-input {
  padding: 8px 16px;
  min-width: 264px;

  background-color: transparent;
  color: var(--dark-theme-text-color);
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus {
  border-color: var(--primary-brand-color);
  outline: none;
}

.footer-form-input::placeholder {
  color: currentColor;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-submit {
  margin-left: 24px;
  padding: 8px 24px;

  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 500;
  letter-spacing: 0.04em;

  border: none;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  color: var(--dark-theme-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn-icon {
  fill: var(--primary-background-color);
}

.footer-form-submit:hover,
.footer-form-submit:focus {
  background-color: var(--pressed-color);
}
/* ================/Footer==================== */

/* ==============Modal Window======================= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;

  background-color: var(--close-modal-background-color);
  border: var(--border-close-modal-btn);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--primary-brand-color);
}
.icon-modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .icon-modal-close,
.modal-close-btn:focus .icon-modal-close {
  fill: var(--primary-background-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 500;
  text-align: center;

  color: var(--dark-background-color);
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-input-desc {
  display: block;
  margin-bottom: 8px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--border-icon-client-color);
}

.modal-form-input,
.modal-form-message {
  width: 100%;
  padding: 8px 16px 8px 38px;

  color: var(--secondary-text-color);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  height: 120px;
  resize: none;
  padding-left: 16px;
  margin-bottom: 16px;
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-input:focus,
.modal-form-message:focus {
  border-color: var(--primary-brand-color);
  outline: none;
}

.modal-form-input-container {
  position: relative;
  display: block;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dark-background-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--primary-brand-color);
}

.user-policy-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 8px; */
  margin-bottom: 24px;
}
.modal-form-check-desc {
  position: relative;
  display: block;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-icon-client-color);
}

.modal-form-icon-check {
  position: absolute;
  fill: transparent;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--dark-background-color);
  border-radius: 2px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-icon-check {
  background-color: var(--pressed-color);
  border: 1px solid var(--border-work-link-pressed-color);
}

.modal-form-check-link {
  color: var(--primary-brand-color);
}

.modal-form-submit {
  min-width: 169px;
  padding: 16px 32px;
  align-self: center;

  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--dark-theme-text-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--pressed-color);
}

/* ==============/Modal Window======================= */
