
.footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background: $dark-background-color;
}
.footer {
    .container {
        display: flex;
        justify-content: flex-start;
    }
}

.footer-container-logo {
    display: block;
    max-width: 264px;
}

.footer-container-social {
    margin-left: 120px;
}

.subtitle-social {
    margin-bottom: 16px;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    color: $dark-theme-text-color;
}


.footer {
    .logo {
        display: inline-block;
        margin-right: 0;
        margin-bottom: 16px;
        padding-top: 0;
        padding-bottom: 0;

        &-studio {
            color: $dark-theme-logo-text-color;
        }
    }
} 

// .footer {
//     .logo-studio {
//         color: $dark-theme-logo-text-color;
//     }
// }

.footer {
    .section-description {
        color: $dark-theme-secondary-text-color;
    }
} 

.footer {
    .list-icon-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        margin-top: 0;
    }
}

.footer {
    .link-icon-social {
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            background-color: $footer-icon-pressed-color;
        }
    }

}

.footer {
    .icon-social {
        width: 24px;
        height: 24px;
    }
}

.footer-form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: auto;
    align-self: flex-start;
}

.footer-form-input-desk {
    display: block;
    margin-bottom: 16px;

    font-weight: 500;

    color: $dark-theme-text-color;
}

.footer-form-input {
    padding: 8px 16px;
    min-width: 264px;

    background-color: transparent;
    color: $dark-theme-text-color;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: $primary-brand-color;
        outline: none;
    }
    &::placeholder {
        color: currentColor;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
    }
}

.footer-form-submit {
    margin-left: 24px;
    padding: 8px 24px;

    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 500;
    letter-spacing: 0.04em;

    border: none;
    background-color: $primary-brand-color;
    border-radius: 4px;
    color: $dark-theme-text-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $pressed-color;
    }
}

.footer-form-btn-icon {
    fill: $primary-background-color;
}

