.section {
    @extend %section;
    &-works {
        padding-top: 96px;
    }
}
.visually-hidden {
    @extend %visually-hidden;
}
.filters-list {
    @include centeredFlex ();
    margin-bottom: 72px;
}

.filter-item {
    @include centeredFlex ();
    &:not(:last-child) {
        margin-right: 24px;
    }
}

.filter-btn {
    padding: 12px 24px;

    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.04em;

    background-color: $secondory-backgound-color;
    color: $primary-brand-color;

    border: $border-work-link-default-color;
    border-radius: 4px;
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: $pressed-color;
        color: $dark-theme-text-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border: none;
    }
}

.work-link {
    display: block;
    position: relative;
    max-width: 360px;

    background-color: $primary-background-color;
    border: $border-work-link-default-color;
    box-shadow: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: $border-work-link-pressed-color;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}

.work-card-content {
    padding: 32px 16px;
}

.work-carg-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 40px 32px;

    color: $work-info-text-color;
    background-color: $primary-brand-color;
    opacity: 0;

    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .work-link:hover &,
    .work-link:focus & {
        transform: translate(0, 0);
        opacity: 0.8;
    }
}

