//Добавляем общие стили к селектору @extend %имя шаблона (@extend %list)
h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    font-family: $primary-font;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: $primary-background-color;
    color: $primary-text-color;
}
%container {
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
%section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: $dark-theme-text-color;
}
.section-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;

    color: $secondary-text-color;
}

%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: $secondary-text-color;
}

.section-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.section-description {
    color: $primary-text-color;
}




