$primary-font: 'Roboto',
sans-serif;
$secondary-font: 'Raleway',
sans-serif;

$primary-brand-color: #4d5ae5;
$pressed-color: #404bbf;

$primary-text-color: #434455;
$secondary-text-color: #2e2f42;
$dark-theme-text-color: #ffffff;
$dark-theme-logo-text-color: #f4f4fd;
$dark-theme-secondary-text-color: #e7e9fc;
$work-info-text-color: #f4f4fd;
$primary-background-color: #ffffff;
$secondory-backgound-color: #f4f4fd;
$dark-background-color: #2e2f42;
$border-header-color: 1px solid #e7e9fc;
$border-icon-client-color: #8e8f99;
$footer-icon-pressed-color: #31d0aa;
$border-work-link-pressed-color: 1px solid #f4f4fd;
$border-work-link-default-color: 1px solid #e7e9fc;
$border-close-modal-btn: 1px solid rgba(0, 0, 0, 0.1);
$close-modal-background-color: #e7e9fc;